Source: ros-kilted-mola-input-rosbag1
Section: misc
Priority: optional
Maintainer: "Jose-Luis Blanco-Claraco" <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-date-time-dev, libboost-filesystem-dev, libboost-program-options-dev, libboost-regex-dev, libbz2-dev, liblz4-dev, libopencv-dev, ros-kilted-geometry-msgs, ros-kilted-mola-common, ros-kilted-mola-kernel, ros-kilted-mrpt-libmaps, ros-kilted-mrpt-libobs, ros-kilted-tf2, ros-kilted-tf2-geometry-msgs, ros-kilted-tf2-ros, ros-kilted-ros-workspace
Homepage: https://github.com/MOLAorg/mola_input_ros1bag
Standards-Version: 3.9.2

Package: ros-kilted-mola-input-rosbag1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-date-time-dev, libboost-filesystem-dev, libboost-program-options-dev, libboost-regex-dev, libbz2-dev, liblz4-dev, libopencv-dev, ros-kilted-geometry-msgs, ros-kilted-mola-common, ros-kilted-mola-kernel, ros-kilted-mrpt-libmaps, ros-kilted-mrpt-libobs, ros-kilted-tf2, ros-kilted-tf2-geometry-msgs, ros-kilted-tf2-ros, ros-kilted-ros-workspace
Description: MOLA DataSource from ROS1 bag files that does not need a ROS1 installation
